doctype html
html
    head
        title Update User Info
        link(rel="stylesheet", href="/styles.css")

    body
        .container        
            header
                h1 Welcome, #{name}!
                p How are you doing today?

            main
                section
                    h2 Not Implemented Yet
