doctype html
html
    head
        title Update User Info
        link(rel="stylesheet", href="/styles.css")

    body
        .container        
            header
                h1 Welcome, #{name}!
                p How are you doing today?

            main
                section
                    h2 Not Implemented Yet
                    if message
                        p.alert #{message}
                    form(action="/update-username" method="POST")
                        label(for="newUsername") New Username:
                        input(type="text" name="newUsername" required)
                        button(type="submit") Update Username
                    form(action="/update-email" method="POST")
                        label(for="newEmail") New Email:
                        input(type="text" name="newEmail" required)
                        button(type="submit") Update Email
                    form(action="/update-password]" method="POST")
                        label(for="newPassword") New Email:
                        input(type="text" name="newPassword" required)
                        button(type="submit") Update Password