html
    head
        title Default Home Page
        link(rel="stylesheet", href="/styles.css")
    body
        .container
            header
                h1(style="color:purple") CPS 490 Group 12
                h3(style="color:purple") By Abby Foppe, Shay Guilfoyles, Paras Rajan, Zach Spears

            main
                
                h4(style="color:blue") This is a test page created until the project is furthered.
                br
                button(type="button" style="margin-right: 10px;" onClick="window.location.href = '/signup';") Signup
                button(type="button" onClick="window.location.href = '/login';") Login
    script(src="/socket.io/socket.io.js")
    script.
        const socket = io();
        socket.on('connect', () => {
            console.log('Connected to server via Socket.IO');
        });