doctype html
html
    head
        title Account Page
        link(rel="stylesheet", href="/styles.css")

    body
        .container        
            header
                h1 Welcome, #{name}!
                p How are you doing today?

            main
                section
                    h2 Account Options
                    button(type="button" onClick = "window.location.href = '/update_user';") Update User Info
                    //-
                        h2 Messages
                        button(type="button" onClick = "window.location.href = '/${username}/chat';") Open Chat
                    p Want to log out?
                    button(type="button" onClick = "window.location.href = '/logout';") Logout
