doctype html
html
    head
        title Account Page
        link(rel="stylesheet", href="/styles.css")

    body
        .container        
            header
                h1 Welcome, #{name}!
                h2 How are you doing today?
                br
                br

            main
                section
                    h3 Home Page
                    button(type="button" onClick = "window.location.href = '/';") Home
                    br
                    h3 Account Options
                    button(type="button" onClick = "window.location.href = '/update_user';") Update User Info
                    br
                    h3 Messages
                    button(type="button" onClick = "window.location.href = '/global';") Open Chat
                    br
                    //-
                        h3 New Chat
                        button(type="button" onClick = "window.location.href = '/new_chat';") New Chat
                        br
                    h3 Log out
                    button(type="button" onClick = "window.location.href = '/logout';") Logout
