html
  head
    title Anonymouse Real-time chat
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css")
    // Include the above in your HEAD tag
    link(href="../public/styles.css" type="text/css" rel="stylesheet")
  body
    .chat_window
      .top_menu
        .buttons
          .button.close
          .button.minimize
          .button.maximize
        .title Chat
      ul#messages.messages
      .bottom_wrapper.clearfix
        i#typing
        form#form
          .message_input_wrapper
            input#message.message_input(placeholder="Type your message here...")
          button.send_message Send
    script(src="/js/socket.js")
    script(src="https://code.jquery.com/jquery-1.11.1.min.js")
    script(src="https://cdn.jsdelivr.net/gh/rexeze/formatTimeStamp/src/index.min.js")
    script(src="/js/chat.js")
